/****** Object:  Database [ITT_TASD]    Script Date: 18/11/2025 08:00:38 p. m. ******/
CREATE DATABASE [ITT_TASD]  (EDITION = 'Standard', SERVICE_OBJECTIVE = 'S0', MAXSIZE = 250 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/****** Object:  Table [dbo].[calificaciones_parciales]    Script Date: 18/11/2025 08:00:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[calificaciones_parciales](
	[id_calificacion] [int] IDENTITY(1,1) NOT NULL,
	[id_grupo] [int] NOT NULL,
	[num_unidad] [int] NOT NULL,
	[calificacion] [decimal](4, 2) NOT NULL,
	[asistencia] [decimal](5, 2) NOT NULL,
	[fecha_evaluacion] [date] NOT NULL,
	[comentarios] [text] NULL,
	[id_docente_registro] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_calificacion] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uk_calificacion] UNIQUE NONCLUSTERED 
(
	[id_grupo] ASC,
	[num_unidad] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[carreras]    Script Date: 18/11/2025 08:00:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carreras](
	[id_carrera] [int] IDENTITY(1,1) NOT NULL,
	[nombre_carrera] [varchar](100) NOT NULL,
	[clave_carrera] [varchar](20) NOT NULL,
	[descripcion] [text] NULL,
	[duracion_semestres] [int] NOT NULL,
	[fecha_creacion] [datetime] NULL,
	[activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_carrera] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[clave_carrera] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[docentes]    Script Date: 18/11/2025 08:00:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[docentes](
	[id_docente] [int] IDENTITY(1,1) NOT NULL,
	[num_empleado] [varchar](20) NOT NULL,
	[apellido_paterno] [varchar](50) NOT NULL,
	[apellido_materno] [varchar](50) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[genero] [varchar](20) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[telefono] [varchar](15) NULL,
	[especialidad] [varchar](100) NULL,
	[grado_academico] [varchar](50) NULL,
	[fecha_contratacion] [date] NOT NULL,
	[estatus] [varchar](20) NULL,
	[fecha_registro] [datetime] NULL,
	[fecha_actualizacion] [datetime] NULL,
	[contrasena] [nvarchar](255) NULL,
	[id_rol] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_docente] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[num_empleado] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estudiantes]    Script Date: 18/11/2025 08:00:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estudiantes](
	[id_estudiante] [int] IDENTITY(1,1) NOT NULL,
	[num_control] [varchar](20) NOT NULL,
	[apellido_paterno] [varchar](50) NOT NULL,
	[apellido_materno] [varchar](50) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[genero] [varchar](20) NOT NULL,
	[fecha_nacimiento] [date] NOT NULL,
	[email] [varchar](100) NOT NULL,
	[telefono] [varchar](15) NULL,
	[direccion] [text] NULL,
	[id_carrera] [int] NOT NULL,
	[semestre_actual] [int] NOT NULL,
	[fecha_ingreso] [date] NOT NULL,
	[estatus] [varchar](20) NULL,
	[promedio_general] [decimal](4, 2) NULL,
	[fecha_registro] [datetime] NULL,
	[fecha_actualizacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estudiante] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[num_control] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Usuarios_Email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[factores]    Script Date: 18/11/2025 08:00:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[factores](
	[id_factor] [int] IDENTITY(1,1) NOT NULL,
	[id_estudiante] [int] NOT NULL,
	[nombre_factor] [varchar](100) NOT NULL,
	[descripcion] [varchar](200) NULL,
	[fecha_asignacion] [datetime] NULL,
	[observaciones] [text] NULL,
	[activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_factor] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[grupos]    Script Date: 18/11/2025 08:00:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grupos](
	[id_grupo] [int] IDENTITY(1,1) NOT NULL,
	[id_materia] [int] NOT NULL,
	[id_docente] [int] NOT NULL,
	[id_estudiante] [int] NOT NULL,
	[clave_grupo] [varchar](20) NOT NULL,
	[semestre] [varchar](20) NOT NULL,
	[anio] [int] NOT NULL,
	[periodo] [varchar](10) NOT NULL,
	[horario] [varchar](100) NULL,
	[aula] [varchar](20) NULL,
	[fecha_registro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_grupo] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[materias]    Script Date: 18/11/2025 08:00:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[materias](
	[id_materia] [int] IDENTITY(1,1) NOT NULL,
	[clave_materia] [varchar](20) NOT NULL,
	[nombre_materia] [varchar](100) NOT NULL,
	[creditos] [int] NOT NULL,
	[horas_teoria] [int] NULL,
	[horas_practica] [int] NULL,
	[descripcion] [text] NULL,
	[activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_materia] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[clave_materia] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[profesores]    Script Date: 18/11/2025 08:00:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[profesores](
	[id_profesor] [int] IDENTITY(1,1) NOT NULL,
	[num_empleado] [varchar](20) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido_paterno] [varchar](50) NOT NULL,
	[apellido_materno] [varchar](50) NULL,
	[correo] [varchar](100) NOT NULL,
	[contrasena] [nvarchar](255) NOT NULL,
	[id_carrera] [int] NOT NULL,
	[id_rol] [int] NOT NULL,
	[fecha_registro] [datetime] NOT NULL,
	[fecha_actualizacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_profesor] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[num_empleado] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[profesores_materias]    Script Date: 18/11/2025 08:00:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[profesores_materias](
	[id_profesor] [int] NOT NULL,
	[id_materia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_profesor] ASC,
	[id_materia] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 18/11/2025 08:00:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[nombre_rol] [varchar](50) NOT NULL,
	[fecha_registro] [datetime] NOT NULL,
	[fecha_actualizacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_roles_nombre] UNIQUE NONCLUSTERED 
(
	[nombre_rol] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_docentes_contraseña]    Script Date: 18/11/2025 08:00:38 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_docentes_contraseña] ON [dbo].[docentes]
(
	[contrasena] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[carreras] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[carreras] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[docentes] ADD  DEFAULT ('Activo') FOR [estatus]
GO
ALTER TABLE [dbo].[docentes] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[docentes] ADD  DEFAULT (getdate()) FOR [fecha_actualizacion]
GO
ALTER TABLE [dbo].[estudiantes] ADD  DEFAULT ('Activo') FOR [estatus]
GO
ALTER TABLE [dbo].[estudiantes] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[estudiantes] ADD  DEFAULT (getdate()) FOR [fecha_actualizacion]
GO
ALTER TABLE [dbo].[factores] ADD  DEFAULT (getdate()) FOR [fecha_asignacion]
GO
ALTER TABLE [dbo].[factores] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[grupos] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[materias] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[profesores] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[profesores] ADD  DEFAULT (getdate()) FOR [fecha_actualizacion]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (getdate()) FOR [fecha_actualizacion]
GO
ALTER TABLE [dbo].[calificaciones_parciales]  WITH CHECK ADD FOREIGN KEY([id_grupo])
REFERENCES [dbo].[grupos] ([id_grupo])
GO
ALTER TABLE [dbo].[calificaciones_parciales]  WITH CHECK ADD  CONSTRAINT [fk_docente_registro] FOREIGN KEY([id_docente_registro])
REFERENCES [dbo].[docentes] ([id_docente])
GO
ALTER TABLE [dbo].[calificaciones_parciales] CHECK CONSTRAINT [fk_docente_registro]
GO
ALTER TABLE [dbo].[docentes]  WITH CHECK ADD  CONSTRAINT [FK_docentes_roles] FOREIGN KEY([id_rol])
REFERENCES [dbo].[roles] ([id_rol])
GO
ALTER TABLE [dbo].[docentes] CHECK CONSTRAINT [FK_docentes_roles]
GO
ALTER TABLE [dbo].[estudiantes]  WITH CHECK ADD FOREIGN KEY([id_carrera])
REFERENCES [dbo].[carreras] ([id_carrera])
GO
ALTER TABLE [dbo].[factores]  WITH CHECK ADD FOREIGN KEY([id_estudiante])
REFERENCES [dbo].[estudiantes] ([id_estudiante])
GO
ALTER TABLE [dbo].[grupos]  WITH CHECK ADD FOREIGN KEY([id_docente])
REFERENCES [dbo].[docentes] ([id_docente])
GO
ALTER TABLE [dbo].[grupos]  WITH CHECK ADD FOREIGN KEY([id_estudiante])
REFERENCES [dbo].[estudiantes] ([id_estudiante])
GO
ALTER TABLE [dbo].[grupos]  WITH CHECK ADD FOREIGN KEY([id_materia])
REFERENCES [dbo].[materias] ([id_materia])
GO
ALTER TABLE [dbo].[profesores]  WITH CHECK ADD  CONSTRAINT [FK_profesores_carrera] FOREIGN KEY([id_carrera])
REFERENCES [dbo].[carreras] ([id_carrera])
GO
ALTER TABLE [dbo].[profesores] CHECK CONSTRAINT [FK_profesores_carrera]
GO
ALTER TABLE [dbo].[profesores]  WITH CHECK ADD  CONSTRAINT [FK_profesores_rol] FOREIGN KEY([id_rol])
REFERENCES [dbo].[roles] ([id_rol])
GO
ALTER TABLE [dbo].[profesores] CHECK CONSTRAINT [FK_profesores_rol]
GO
ALTER TABLE [dbo].[profesores_materias]  WITH CHECK ADD  CONSTRAINT [FK_pm_materia] FOREIGN KEY([id_materia])
REFERENCES [dbo].[materias] ([id_materia])
GO
ALTER TABLE [dbo].[profesores_materias] CHECK CONSTRAINT [FK_pm_materia]
GO
ALTER TABLE [dbo].[profesores_materias]  WITH CHECK ADD  CONSTRAINT [FK_pm_profesor] FOREIGN KEY([id_profesor])
REFERENCES [dbo].[profesores] ([id_profesor])
GO
ALTER TABLE [dbo].[profesores_materias] CHECK CONSTRAINT [FK_pm_profesor]
GO
ALTER TABLE [dbo].[calificaciones_parciales]  WITH CHECK ADD  CONSTRAINT [chk_asistencia] CHECK  (([asistencia]>=(0) AND [asistencia]<=(100)))
GO
ALTER TABLE [dbo].[calificaciones_parciales] CHECK CONSTRAINT [chk_asistencia]
GO
ALTER TABLE [dbo].[calificaciones_parciales]  WITH CHECK ADD  CONSTRAINT [chk_cal_parcial] CHECK  (([calificacion]>=(0) AND [calificacion]<=(100)))
GO
ALTER TABLE [dbo].[calificaciones_parciales] CHECK CONSTRAINT [chk_cal_parcial]
GO
ALTER TABLE [dbo].[calificaciones_parciales]  WITH CHECK ADD  CONSTRAINT [chk_unidad] CHECK  (([num_unidad]>=(1) AND [num_unidad]<=(3)))
GO
ALTER TABLE [dbo].[calificaciones_parciales] CHECK CONSTRAINT [chk_unidad]
GO
ALTER TABLE [dbo].[docentes]  WITH CHECK ADD CHECK  (([estatus]='Jubilado' OR [estatus]='Inactivo' OR [estatus]='Activo'))
GO
ALTER TABLE [dbo].[docentes]  WITH CHECK ADD CHECK  (([genero]='Prefiero no decir' OR [genero]='Otro' OR [genero]='F' OR [genero]='M'))
GO
ALTER TABLE [dbo].[estudiantes]  WITH CHECK ADD  CONSTRAINT [chk_promedio] CHECK  (([promedio_general]>=(0) AND [promedio_general]<=(100)))
GO
ALTER TABLE [dbo].[estudiantes] CHECK CONSTRAINT [chk_promedio]
GO
ALTER TABLE [dbo].[estudiantes]  WITH CHECK ADD  CONSTRAINT [chk_semestre] CHECK  (([semestre_actual]>=(1) AND [semestre_actual]<=(12)))
GO
ALTER TABLE [dbo].[estudiantes] CHECK CONSTRAINT [chk_semestre]
GO
ALTER TABLE [dbo].[estudiantes]  WITH CHECK ADD CHECK  (([estatus]='Egresado' OR [estatus]='Baja definitiva' OR [estatus]='Baja temporal' OR [estatus]='Activo'))
GO
ALTER TABLE [dbo].[estudiantes]  WITH CHECK ADD CHECK  (([genero]='Prefiero no decir' OR [genero]='Otro' OR [genero]='F' OR [genero]='M'))
GO
ALTER TABLE [dbo].[factores]  WITH CHECK ADD CHECK  (([nombre_factor]='Motivacional' OR [nombre_factor]='Social' OR [nombre_factor]='Académico' OR [nombre_factor]='Transporte' OR [nombre_factor]='Trabajo' OR [nombre_factor]='Salud' OR [nombre_factor]='Familiar' OR [nombre_factor]='Económico'))
GO
ALTER TABLE [dbo].[grupos]  WITH CHECK ADD CHECK  (([periodo]='Verano' OR [periodo]='2' OR [periodo]='1'))
GO
ALTER TABLE [dbo].[materias]  WITH CHECK ADD  CONSTRAINT [chk_creditos] CHECK  (([creditos]>(0)))
GO
ALTER TABLE [dbo].[materias] CHECK CONSTRAINT [chk_creditos]
GO
